body {
    font-family: Georgia, serif;
    background: #1e1e1e;
    color: white;
    text-align: center;
    margin: 0;
    padding: 20px 0;
}

h1 {
    font-family: Georgia, serif;
    width: 800px;
    margin: 0 auto 30px auto;
    font-size: 48px;
    letter-spacing: 2px;
}

#game {
    margin: auto;
    width: 800px;
}
